.cont_brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  padding-top: 27px;
  padding-right: 27px;
  padding-left: 27px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.sect_top_brand {
  height: 20vh;
}

.sect_main {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fff;
  background-image: url(../img/background_halftone@2x.jpg);
  background-position: 50% 100%;
  background-repeat: repeat-x;
}

.img_brand {
  margin-left: 29px;
}

.cont_main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.cont_login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 65vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #7f1879;
  border-radius: 10px;
  background-color: #fff;
  background-image: url('../img/pixels@2x.png');
  background-position: 50% 97%;
  background-repeat: repeat-x;
  box-shadow: 8px 8px 20px -10px rgba(0, 0, 0, .5);
}

.btn_base {
  width: 60%;
  margin-bottom: 16px;
  padding: 20px 80px;
  border-radius: 50px;
  background-color: #ec5524;
  box-shadow: 4px 4px 11px -4px rgba(0, 0, 0, .5);
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}

.btn_base.facebook {
  background-color: #3558e6;
  background-image: url('../img/facebook@2x.png');
  background-position: 31px 50%;
  background-repeat: no-repeat;
}

.btn_base.google {
  background-color: #db3329;
  background-image: url('../img/g_icon2x.png');
  background-position: 30px 50%;
  background-repeat: no-repeat;
}

.btn_base.btn_onboard {
  width: 45%;
}

.cont_img_login {
  width: 250px;
  height: 250px;
  margin-bottom: 25px;
  background-image: url('../img/old-camera_B.png');
  background-position: 50% 50%;
  background-size: 333px;
  background-repeat: no-repeat;
}

.img_logo {
  margin-top: 17px;
}

.body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.sect_onboarding {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fff;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.sld_onboarding {
  width: 100%;
  height: 510px;
  background-color: transparent;
}

.right-arrow {
  display: none;
}

.slid_container {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.img_onboard_1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.heading {
  color: #7f1879;
  font-weight: 300;
  text-align: center;
}

.p_onboarding {
  text-align: center;
}

.slide {
  height: 360px;
}

.div-block {
  min-height: 350px;
  background-image: url('../img/round_halftone2x.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.sect_back {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #6e616e;
}

.text-block {
  margin-top: 17px;
  margin-bottom: 8px;
  font-family: 'Varela Round', sans-serif;
  color: #7f1879;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .cont_brand {
    width: 30%;
  }
  .sect_top_brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .cont_login {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .cont_brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .sect_main {
    background-image: none;
    background-position: 0px 0px;
    background-repeat: repeat;
  }
  .cont_login {
    width: 100%;
    height: auto;
    border-style: none;
    background-size: 523px;
    box-shadow: none;
  }
  .btn_base.facebook {
    width: 80%;
  }
  .btn_base.google {
    width: 80%;
  }
}

@media (max-width: 479px) {
  .btn_base.btn_onboard {
    width: 90%;
  }
  .cont_img_login {
    background-size: 253px;
  }
}